.postdetailImage img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}
.comment-post div{
    width: calc(45% - 30px);
}

.cm-wd-25.imagefile {
    margin-right: 20px;
}